<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'stylecontact.css' %}">
    
</head>
<body>
    <div>
        <h2 class="h1">Contact Us</h2>
        <hr>
        <p>
            <form class="f1">
            <b>If any Queries</b><br>
            Contact no: 0123456789<br>
            Email Id: helpdesk@srmist.edu.in<br>
            </form>
        </p>
    </div>
    <div class="d1">
        <footer class="footer">
            <p>
                <b>This website is designed by</b> <br>
                Naveen A<br>
                G L Naga Hari Prasath<br>
                Sai Sravan Manepalli<br>
            </p>
        </footer>
    </div>
</body>
</html>