<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href={% static 'styleupdates.css' %}>
    
</head>
<body>
    <div>
    	{% for message in messages %}
		    <h2>{{message}}</h2>
		{% endfor %}
        <hr>
        <p class="p">
            Close the Tab to leave the Voting Site
        </p>
    </div>
</body>
</html>